In [1]:
from itertools import combinations
from operator import itemgetter
import pandas as pd

In [2]:
table = pd.read_csv('sampledata_numbers.csv')
print(table)

                                      items
0        2,5,6,9,17,22,24,31,37,39,40,42,47
1             2,4,6,16,17,19,22,39,43,49,50
2         2,6,10,11,15,17,18,23,26,28,33,47
3                       4,17,19,22,40,43,46
4                     6,8,10,22,26,35,37,47
5             10,11,17,19,26,28,30,32,33,38
6           8,11,15,16,17,19,23,32,33,37,49
7               2,6,10,17,19,28,33,34,38,43
8                       1,22,26,28,31,39,40
9                                    4,9,37
10        2,6,7,8,9,17,19,26,32,40,42,43,47
11               1,6,9,16,17,19,22,32,46,47
12          4,10,18,23,24,28,31,33,37,43,46
13                    2,8,11,13,15,16,20,47
14      6,7,8,10,13,17,23,25,33,37,41,43,46
15     4,6,10,11,16,17,19,23,26,32,43,46,48
16         17,19,28,32,33,37,41,42,43,46,47
17                   4,17,18,19,23,32,43,46
18        2,6,11,12,13,16,17,26,27,38,40,43
19                      5,10,22,33,39,40,43
20         2,5,6,10,17,19,28,33,39,42,43,49
21    6,11,17,18,19,23,26,28,33,37,43,47,48
22                        2,5,6,17,19,31,37
23                6,17,26,31,37,40,41,42,50
24          6,10,11,16,32,33,37,39,40,43,49
25                                2,8,17,23
26       2,5,6,9,17,22,24,31,37,39,40,42,47
27            2,4,6,16,17,19,22,39,43,49,50
28        2,6,10,11,15,17,18,23,26,28,33,47
29                      4,17,19,22,40,43,46
...                                     ...
2784                                     24
2785                                     18
2786                               18,29,47
2787                                     17
2788                               11,16,24
2789                                  22,37
2790                               13,43,48
2791                               17,39,49
2792                              3,4,31,37
2793                                2,25,38
2794                            33,39,44,45
2795                            30,36,39,48
2796                            25,43,44,45
2797                               13,45,46
2798                            31,36,37,40
2799                               20,36,38
2800                               33,34,42
2801                                     45
2802                            25,31,44,47
2803                                     37
2804                                  22,37
2805                               13,43,48
2806                                2,25,38
2807                            33,39,44,45
2808                            25,43,44,45
2809                               13,45,46
2810                            31,36,37,40
2811                               33,34,42
2812                            25,31,44,47
2813                                     37

[2814 rows x 1 columns]

In [8]:
def perform_apriori(data=table, support_count=500):
    single_items = (data['items'].str.split(",", expand=True))
    print(single_items.shape)
    single_items = (data['items'].str.split(",",expand=True)).apply(pd.value_counts).sum(axis=1).where(lambda value: value > support_count).dropna()
    #print(single_items)
    apriori_data = pd.DataFrame({'items': single_items.index.astype(int), 'support_count': single_items.values,'set_size': 1})
    #print(apriori_data)
    data['set_size'] = data['items'].str.count(",") + 1
    data['items'] = data['items'].apply(lambda row: set(map(int, row.split(","))))
    single_items_set = set(single_items.index.astype(int))
perform_apriori()

(2814, 19)
    items  support_count  set_size
0      10          733.0         1
1      11          654.0         1
2      16          775.0         1
3      17         1378.0         1
4      19         1144.0         1
5       2          791.0         1
6      23          751.0         1
7      26          693.0         1
8      28         1139.0         1
9      32          828.0         1
10     33          884.0         1
11     37         1194.0         1
12     39          645.0         1
13      4          644.0         1
14     40          669.0         1
15     43         1339.0         1
16     46          720.0         1
17     47          793.0         1
18      6         1349.0         1

NameError: name 'data' is not defined